body {
    font-family: "Nirmala UI", sans-serif;
    background-color: #215169;
    color: white;
}

a {
    color: white;
}

a img {
    width: 100px;
    height: 100px;
    display: block;
    border: 3px solid white;
}

h3 {
    margin:0;
}

.festivals a {
    border-radius: 7px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 3px solid gray;
    padding: 2px;
    margin: 80px;
    box-shadow: #000000f0 3px 3px;
    cursor: pointer;
}

.festivals a:hover {
    background-color: yellow;
}

.pukkelpop {
    background-color: #4287f5;
    border: 3px solid white;
    padding: 20px;
    margin: 10px;
}

.rockwerchter {
    background-color: #7a2215;
    border: 3px solid white;
    padding: 20px;
    margin: 10px;
}

.tomorrowland {
    background-color: #81911a;
    border: 3px solid white;
    padding: 20px;
    margin: 10px;
}

.graspop {
    background-color: #0d5417;
    border: 3px solid white;
    padding: 20px;
    margin: 10px;
}

.dour {
    background-color: #4b0d54;
    border: 3px solid white;
    padding: 20px;
    margin: 10px;
}